module = CAN_UART_TO_CAN
module-str = can_uart_to_can

config CAN_UART_TO_CAN
    bool "Enable can_uart_to_can driver"
    default y
	depends on DT_HAS_POWERLABS_UART_TO_CAN_ENABLED
    select UART
    help
        Enable can_uart_to_can driver

config CAN_UART_TO_CAN_ASYNC_API
    bool "Use UART asynchronous API in can_uart_to_can"
    depends on CAN_UART_TO_CAN && UART_ASYNC_API
    help
      Use UART asynchronous API for can_uart_to_can.
      When disabled, can_uart_to_can uses UART interrupt-driven API.